@import '../../styles.scss';

.jumbotron{
  text-align: center !important;
  background: url(../../assets/images/storage_units.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 82vh;
  color: $white;
  padding-top: 12%;
  a{
    margin-top: 20px;
  }
}