<app-header></app-header>

<div class="jumbotron mb-5">
  <h1 class="display-4">Safe-Secure-Affordable<br>Self Storage</h1>
  <a class="btn btn-lg buttn-primary" (click)="navigate('/reserve')" role="button">Reserve Your Unit</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 my-4">
      <app-table [tBody]="list" [tHead]="head"></app-table>
    </div>
    <div class="col-md-6 my-4">
      <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3888.8124500821377!2d77.6668589!3d12.9197727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae137133d03099%3A0x97ee80bef71e2b2b!2sCoronet+Greens+Apartments%2C+9%2F2+Ambalipura%2C+Gate%2C+560102%2C%2C+Sarjapur+Main+Rd%2C+Bellandur%2C+Bengaluru%2C+Karnataka+560103!5e0!3m2!1sen!2sin!4v1533289326785"
        height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-4">
      <img style="width: 100%;" src="../../assets/images/storage_units2.jpg" alt="">
    </div>
    <div class="col-md-6 my-4">
      <div class="row">
        <div class="col-md-6">
          <h3 class="section-headings">Hours</h3>
          <app-table [tBody]="hours"></app-table>
        </div>
        <div class="col-md-6">
          <h3 class="section-headings">Contact Info</h3>
          <app-table [tBody]="contact"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
