/* You can add global styles to this file, and also import other style files */

$primary: #00c2e5;
$secondary: #3b3e46;
$darkFont: #777777;
$lightFont: #f9f9f9;
$bg: #f0f2f7;
$white: #fff;
$border: #eceeef;
$primary-font:'Roboto';
$primary-font-size: 1em;
$shadow: #CCC;


.buttn-primary{
  background: $primary;
  color: $white;
  border-radius: 30px;
}

.buttn{
  color: $darkFont;
  border-radius: 30px;
}

.section-headings{
  font-weight: 200;
}

.contact-map{
  width: 100%;
}