<app-header></app-header>

<app-breadcrumb [breadcrumbActive]="breadcrumbActive"></app-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col-md-9 my-4">
      <div *ngIf="step === 1">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item active">
              <a class="page-link">Tenant
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="formChange(1)">Unit
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="formChange(2)">Confirmation</a>
            </li>
          </ul>
        </nav>
        <form>
          <div class="form-group">
            <label for="Name">Name (Required)</label>
            <input type="text" name="name" (keyup)="validate('notNull', name, 'Name', 'nameHelp')" class="form-control" id="Name" placeholder="Enter Your Name" [(ngModel)]="name" required>
            <small id="nameHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="Email">Email address (Required)</label>
            <input type="email" name="email" (keyup)="validate('email', email, 'Email', 'emailHelp')" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" required>
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" name="address" class="form-control" id="Address" placeholder="Enter Address" [(ngModel)]="address">
          </div>
          <div class="form-group">
            <label for="City">City (Required)</label>
            <input type="text" name="city" (keyup)="validate('notNull', city, 'City', 'cityHelp')" class="form-control" id="City" placeholder="Enter City" [(ngModel)]="city" required>
            <small id="cityHelp" class="form-text text-muted"></small>
          </div>
          <button type="submit" class="btn buttn-primary px-4 mx-2" (click)="formChange(1)" style="float: right;">Next</button>
        </form>
      </div>

      <div *ngIf="step === 2">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="formChange(-1)">Tenant
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link">Unit
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="formChange(1)">Confirmation</a>
            </li>
          </ul>
        </nav>
        <form>
          <div class="form-group">
            <label>Select Size</label>
            <select class="form-control" [(ngModel)]="select" name="select" (change)="onChange($event.target.value)">
              <option *ngFor="let option of list" [ngValue]="option.data">{{option.data}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Rate</label>
            <input type="text" class="form-control" name="rate" [(ngModel)]="rate" required disabled>
          </div>
          <div class="form-group">
            <label>Billing Period</label>
            <input type="text" name="period" class="form-control" value="Monthly" [(ngModel)]="period" disabled required>
          </div>
          <button type="submit" class="btn buttn-primary px-4 mx-2" (click)="formChange(1)" style="float: right;">Next</button>
          <button type="submit" class="btn buttn px-4 mx-2" (click)="formChange(-1)" style="float: right;">Previous</button>
        </form>
      </div>

      <div *ngIf="step === 3">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="formChange(-2)">Tenant
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="formChange(-1)">Unit
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link">Confirmation
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </nav>
        <form>
          <div class="row">
            <div class="col-md-8">
              <h4 class="section-headings py-2">Tenant Details:</h4>
              <div class="form-group">
                <label>Name:</label>
                <span class="pl-4">{{name}}</span>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <span class="pl-4">{{email}}</span>
              </div>
              <div class="form-group">
                <label>Address:</label>
                <span class="pl-4">{{address}}</span>
              </div>
              <div class="form-group">
                <label>City:</label>
                <span class="pl-4">{{city}}</span>
              </div>
            </div>
            <div class="col-md-4">
              <h4 class="section-headings py-2">Unit Details:</h4>
              <div class="form-group">
                <label>Size:</label>
                <span class="pl-4">{{size}}</span>
              </div>
              <div class="form-group">
                <label>Rate:</label>
                <span class="pl-4">{{rate}}</span>
              </div>
              <div class="form-group">
                <label>Billing Period:</label>
                <span class="pl-4">{{period}}</span>
              </div>
            </div>
          </div>
          <button type="submit" class="btn buttn-primary px-4 mx-2" style="float: right;">Submit</button>
          <button type="submit" class="btn buttn px-4 mx-2" (click)="formChange(-1)" style="float: right;">Previous</button>
        </form>
      </div>

    </div>
    <div class="col-md-3 my-4">
      <app-table [tBody]="list" [tHead]="head"></app-table>
    </div>
  </div>
</div>

<app-footer></app-footer>