@import '../../styles.scss';

.bg{
  background: $secondary;
}

.buttn-primary{
  background: $primary;
  color: $white !important;
  border-radius: 30px;
}

.btn{
  font-size: 0.7em !important;
}

.contact-header{
  display: inline;
  .contact-details{
    color: $white;
    font-size: 0.82em;
    font-weight: 500;
    width: 100%;
  }
}

a{
  cursor: pointer;
}

i{
  color: $primary !important;
}