<div class="col-md-12 bg py-3">
  <div class="container">
    <div class="contact-header p-3">
      <a (click)="navigate('/contact')" class="btn buttn-primary"><span>CONTACT</span></a>
      <span class="contact-details pl-4">
        <i class="fas fa-map-marker-alt mx-2"></i>5877 Cauterskill Road Catskill, NY 12414
      </span>
      <span class="contact-details pl-4">
        <i class="fas fa-envelope mx-2"></i>catskillselfstorage@gmail.com
      </span>
      <span class="contact-details pl-4">
        <i class="fas fa-phone mx-2"></i>518-943-3003
      </span>
    </div>
  </div>
</div>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" (click)="navigate('/')">
      <img src="../../assets/images/logo.png" width="160" height="61" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('/reserve')">Reserve Your Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('/contact')">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="navigate('/payment')">Payment</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
