<app-header></app-header>

<app-breadcrumb [breadcrumbActive]="breadcrumbActive"></app-breadcrumb>

<div class="container">
  <div class="my-4">
    <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3888.8124500821377!2d77.6668589!3d12.9197727!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae137133d03099%3A0x97ee80bef71e2b2b!2sCoronet+Greens+Apartments%2C+9%2F2+Ambalipura%2C+Gate%2C+560102%2C%2C+Sarjapur+Main+Rd%2C+Bellandur%2C+Bengaluru%2C+Karnataka+560103!5e0!3m2!1sen!2sin!4v1533289326785"
    height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 my-4">
      <form>
        <h3 class="section-headings">Contact Form</h3>
        <div class="form-group">
          <label for="exampleInputName1">Name (Required)</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Your Name" (ngModel)="name" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address (Required)</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputSubject1">Subject</label>
          <input type="text" class="form-control" id="exampleInputSubject1" placeholder="Enter Subject">
        </div>
        <div class="form-group">
          <label for="exampleTextArea1">Enter Message</label>
          <textarea class="form-control" id="exampleTextArea1" placeholder="Enter Your Message"></textarea>
        </div>
        <button type="submit" class="btn buttn-primary px-4" style="float: right;">SEND</button>
      </form>
    </div>
    <div class="col-md-6 col-12 my-4">
      <h3 class="section-headings">Hours</h3>
      <app-table [tBody]="hours" [tHead]="head"></app-table>
      <h3 class="section-headings">Contact Info</h3>
      <app-table [tBody]="contact" [tHead]="head"></app-table>
    </div>
  </div>
</div>
<app-footer></app-footer>